/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* REGOLE GENERALI */
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 1280px;
  margin: auto;
  postion: relative;
}
/* FINE REGOLE GENERALI */

/* HEADER */

/* Top-Header */
header .top-header {
  background-color: #143b65;
  height: 500px;
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 110% 100%;
  color: white;
  padding: 10px;
}

/* Colonne Menu */
header .top-header .container .col {
  float: left;
}

header .top-header .container .col.col-logo {
  width: 15%;
}

header .top-header .container .col.col-menu-center {
  width: 45%;
}

header .top-header .container .col.col-menu-right {
  width: 40%;
  text-align: right;
}
header .top-header .container .col.col-menu-right, .col.col-menu-center {
  padding-top: 10px;
}

/* Liste Menu */
header .top-header .container .col li {
  display: inline-block;
}

header .top-header .container .col li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

header .top-header .container .col li a:hover {
  color: orange;
}

header .top-header .container .col li a.login-menu {
  border: 1px solid white;
  border-radius: 5px;
}

header .top-header .container .col li a.green-link-menu {
  background-color: #3aaf43;
  border-radius: 5px;
}
/* Teaser */
header .top-header .container .teaser {
  position: absolute;
  top: 18%;
  left: 16%;
}

header .top-header .container .teaser .titolo {
  font-size: 45px;
  width: 500px;
  margin-bottom: 35px;
}

header .top-header .container .teaser .cta {
  color: white;
  text-decoration: none;
  background-color: #3aaf43;
  border-radius: 3px;
  padding: 15px 20px;
}

/* Bottom-Header */

/* FINE HEADER */
